.global-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-12);

  img {
    max-width: 80px;
  }

  nav {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;

    & > div,
    a {
      display: flex;
    }
  }
}

.nav-menu,
.nav-social {
  a {
    border-radius: 5px;
    color: var(--color-text);
    margin: 0 8px;
    padding: 8px;
    text-decoration: none;

    &:hover {
      background: lighten(#000000, 95%);
    }
  }

  img {
    max-width: 20px;
    height: 20px;
  }
}
